.container {
    width: 98%;
    max-width: 550px;
    margin-top: 50px;
    margin-bottom: 50px;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    align-self: center;
}
h2 {
    color: #333;
    margin-bottom: 20px;
}
label {
    display: block;
    margin-bottom: 5px;
}
input[type="text"],
input[type="number"],
textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 10px;
}
input[type="submit"],
button {
    padding: 10px 20px;
    background-color: #0e1f3d;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
/* button {
    background-color: #dc3545;
    margin-left: 10px;
} */


body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: space-between;
    margin: 0px;
    background-image: url("assets/bike.jpg");
    background-size: cover;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    
}

header {
    background-color: rgba(50, 67, 103,0.9);
    color: #fff;
    padding: 20px;
    text-align: center;
}

header h1 {
    margin: 0;
}
#imgdiv video{
    width: 98%;
}
#imgdiv img{
max-width: 98%;
}
.spacebtn{
    display: flex;
    justify-content: space-between;
}