body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: space-between;
    margin: 0px;
    background-image: url("assets/phone.webp");
    background-size: cover;
}

header {
    background-color: rgba(30, 45, 61, 0.9);
    color: #fff;
    padding: 20px;
    text-align: center;
}

header h1 {
    margin: 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

#maindiv {
    min-width: 100%;
}

.main-content {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 5px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
    text-align: center;
    /* flex: 1; */
}

.main-content h2 {
    color: #033366;
    opacity: 1;
}

.button {
    padding: 5px 10px;
    border-radius: 5px;
    background-color: #0e1f3d;
    color: white;
    border: none;
    cursor: pointer;
}

.profile-image img {
    width: 100px;
    /* Adjust size as needed */
    border-radius: 50%;
    /* Make image circular */
    opacity: 1;
}

.footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}

.nav {
    display: flex;
    align-items: end;
    flex-direction: column;
}

/* Remaining CSS styles unchanged */
.find {
    align-self: flex-end;
}

.student-table {
    width: 100%;
    border-collapse: collapse;
    margin: 50px auto;
    max-width: 800px;
}

.student-table th,
.student-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.student-table th {
    background-color: #f2f2f2;
}

.student-table tr:nth-child(even) {
    background-color: #f2f2f2;
}

.student-table tr:hover {
    background-color: #ddd;
}

.menu,
.navbar-toggle {
    display: none;
    flex-direction: column;
    align-items: flex-end;
}

.nav ul li a:hover,
.head a:hover {
    color: chartreuse;

}

.head a {
    color: white;
    text-decoration: none;
}

.head {
    display: flex;
    align-items: center;
    justify-content: center;
}

tr {
    color: white;
}


/* inventory */
.card {
    display: flex;
    flex-direction: column;
    color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    background-color: rgba(10, 17, 24, 0.9);
    max-width: 300px;
}

.card img {
    max-height: 155px;
}

.card-content {
    padding: 10px;
    max-width: 206px;
}

.card h4 {
    margin-top: 0;
}

.card p {
    margin: 5px 0;
}

.inventorydiv {
    flex: 1;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.7);
}

.inventorydiv1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}


@media screen and (max-width: 650px) {
    .nav {
        display: none;
        flex-direction: column;
        position: absolute;
        width: 100%;
        top: 50px;
        background-color: #333;
    }

    .menu {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }

    .navbar-toggle {
        display: none;
        flex-direction: column;
        align-items: flex-end;
    }

    .bar {
        padding-bottom: 3px;
        text-decoration: none;
        color: white;
    }

    .inventorydiv1 {
        flex-direction: column;
    }

    .card {
        flex-direction: row;
        max-width: 100vw;
    }

    .head {
        justify-content: end;
    }
}